button {
  margin: 20px 0;
  line-height: 34px;
  position: relative;
  cursor: pointer;
  outline:none !important;
  width:100%;
}

button:active {

  outline:none;
}

button.ribbon {
  
  outline:none;
  outline-color: transparent;
}
button.ribbon:before, button.ribbon:after {
  top: 5px;
  z-index: -10;
}
button.ribbon:before {
  border-color: #53dab6 #53dab6 #53dab6 transparent;
  left: -50px;
  border-width: 35px;
}
button.ribbon:after {
  border-color: #53dab6 transparent #53dab6 #53dab6;
  right: -50px;
  border-width: 35px;
}

button:before, button:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0;
  outline:none;
}

button.btn-primary:before {
  border-color: #2e6da4 #2e6da4 #2e6da4 transparent;
    }
button.btn-primary:after {
  border-color: #2e6da4 transparent #2e6da4 #2e6da4;
    }


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

body{
margin:40px;
background-color: #A9E2F3;  
font-size: 20px;
font-family: sans-serif;

}

.questiontext{
	display: none;
	   padding-top: 60px;
    padding-right: 100;
}

.startbtn{
	font-size: 35px;
	position: relative;
}
.task{
	padding-bottom: 100px;
	padding-top: 150px;
	font-size: 35px;
	text-align: center;	
}

.counter{
font-size: 35px;
    margin-top: 2%;
}

.guide{
	padding-top: 10%;
	padding-bottom: 100px;
}

.text-divider{
    margin: 30px 0; 
    line-height: 0; 
    text-align: center;
}
.text-divider span{
    background-color: #BCF0FF; 
    padding: 1em;
}
.text-divider:before{ 
    content: " "; 
    display: block; 
    border-top: 1px solid #337AB7; 
    border-bottom: 1px solid transparent;}

.well{
    background-color: #BCF0FF;
    border-radius: 200px;
    padding: 100px;
    margin-top: 50;
}
    


input[type=text] {
    padding: 0;
    height: 50px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 35px;
}

.sentenceConten {
    padding-bottom: 100px;
    visibility: hidden;

}

.case{
    margin-left: 20%;
    margin-right: 20%;
    size: a3;
    background-color: #fcf8e3;
    padding: 10px;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    
}

.nextButton{
    visibility: hidden;
}

.wordInNominative{
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
    size: a3;
    background-color: #fcf8e3;
    padding: 10px;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
}
.chooseCaseButton{
	margin: 1%;
}

.modalText{
    text-align: center;
	font-family: sans-serif;
}
.modalButtons{
	font-family: sans-serif;
	text-align: center;
}